body {
background-color: #022a40;
    margin: 5px;
      padding: 0 auto;
  }

a {
    text-decoration: none;
    color:gray;

}
.titulo{
    text-shadow:5px 5px #000;
    text-align:center; 
       }

.menulat{
    text-shadow:5px 5px #000;
    text-align:left;
    left: 25px;
    top: 20px;
    position: relative;
}
.user{
    display: block;
  margin-left: 25px;
  margin-right: auto;
  width: 50%;
}

.menu{
    position: fixed;
    background-image: linear-gradient(to bottom, #fff, rgb(5, 107, 158, 0.9), black);   
     width: 220px;
    height: 640px;
    top:10px;
    left: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px ;
}
.box{

    background-image: linear-gradient(to bottom, #fff, rgb(5, 107, 158, 0.9), black);   
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px ;
  box-sizing: border-box;
    text-shadow:none;
    text-align:center;
    width: 440px;
    height: 450px;
    position: relative;
    top: 90px;
    left: 470px;
    
    }
    
    .menu input {
        width: 60%;
        margin-bottom: 19px; 
       }
    .menu input[type="submit"] {
        border: none;
        outline: none;
        height: 30px;
        color: #000;
        background: rgba(255, 255, 255, 0.808);
        border-radius: 20px;
        transition: 0.2s;
       }
       
       .menu input[type="submit"]:hover {
        cursor: pointer;
        background-color: gray;
        transition: 0.2s;
       }
       
       .menu a {
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: #1b1b1b;
        transition: 0.2s;
       }
       .menu input {
        width: 70%;
        margin-bottom: 19px; 
       }
           .menu input[type="submit"] {
        border: none;
        outline: none;
        height: 30px;
        color: #000;
        background: rgba(255, 255, 255, 0.808);
        border-radius: 20px;
        transition: 0.2s;
       }
       
       .menu input[type="submit"]:hover {
        cursor: pointer;
        background-color: gray;
        transition: 0.2s;
       }
       
       .menu a {
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: #1b1b1b;
        transition: 0.2s;
       }
       #lateral{
        list-style:none;    
       }
      

    .botao input {
        width: 60%;
        margin-bottom: 19px; 
       }
    .botao input[type="submit"] {
        border: none;
        outline: none;
        height: 30px;
        color: #000;
        background: rgba(255, 255, 255, 0.808);
        border-radius: 20px;
        transition: 0.2s;
       }
       
       .botao input[type="submit"]:hover {
        cursor: pointer;
        background-color: gray;
        transition: 0.2s;
       }
       
       .botao a {
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: #1b1b1b;
        transition: 0.2s;
       }
       .botao input {
        width: 70%;
        margin-bottom: 19px; 
       }
           .botao input[type="submit"] {
        border: none;
        outline: none;
        height: 30px;
        color: #000;
        background: rgba(255, 255, 255, 0.808);
        border-radius: 20px;
        transition: 0.2s;
       }
       
       .botao input[type="submit"]:hover {
        cursor: pointer;
        background-color: gray;
        transition: 0.2s;
       }
       
       .botao a {
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: #1b1b1b;
        transition: 0.2s;
       }
       .conteudo{
        background: #fff;
        border: 1px solid;
        border-radius: 20px;
        box-shadow: 7px 7px 7px;
      box-sizing: border-box;
        text-shadow:none;
         width: 1050px;
        height: 640px;
        position: relative;
        top: 10px;
        left: 270px;
        text-align: center;
       }    
       .video{
        background: #000;
        border: 1px solid;
        border-radius: 20px;
        box-shadow: 7px 7px 7px;
      box-sizing: border-box;
        text-shadow:none;
         width: 1050px;
        height: 640px;
        position: relative;
        top: 10px;
        left: 270px;
        text-align: center;
       }       .menu input {
        width: 60%;
        margin-bottom: 19px; 
       }
    .menu input[type="submit"] {
        border: none;
        outline: none;
        height: 30px;
        color: #000;
        background: rgba(255, 255, 255, 0.808);
        border-radius: 20px;
        transition: 0.2s;
       }
       
       .menu input[type="submit"]:hover {
        cursor: pointer;
        background-color: rgb(255, 0, 0);
        transition: 0.2s;
       }
       
       .menu a {
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: #1b1b1b;
        transition: 0.2s;
       }
       .menu input {
        width: 70%;
        margin-bottom: 19px; 
       }
           .sair input[type="submit"] {
        border: none;
        outline: none;
        height: 30px;
        color: #000;
        background: rgba(255, 0, 0, 0.808);
        border-radius: 20px;
        transition: 0.2s;
       }
     